<% @body_class = 'display_mode' %>
<%= erb :'_header' %>


<script type="text/javascript">
  if (InstagramDisplayMode === undefined) var InstagramDisplayMode = {};
  InstagramDisplayMode.photos = <%= @photos.to_json %>;
  InstagramDisplayMode.photos_index = <%= @photos.map{|k,v| k} %>;
  InstagramDisplayMode.tag = "<%= params[:tag] %>";
</script>


<div id="display_board" class="no_photos">
 <div id="display_board_photos">
  
 </div>

 <div id="display_board_cancel"><a href="/tag" title="Exit Display Mode">&times;</a></div>

 <div class="no_photos error container">
  <h1><span>#<%= params[:tag] %></span></h1>
  <p>Share your Instagram photos with the crowd.<br />Tag your photos with <span>#<%= params[:tag] %></span>.</p>
 </div>

 <div class="no_photos bottom_bar">
  <p>Tag your photos with <span>#<%= params[:tag] %></span>!</p>
 </div>

 <div class="has_photos bottom_bar">
  <p>Tag your photos with <span>#<%= params[:tag] %></span>!</p>
 </div>
</div>

<script type="text/javascript">try {InstagramDisplayMode.start();} catch(e) {}</script>

<%= erb :'_footer' %>